
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #4B352A, #CA7842, #B2CD9C, #F0F2BD);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1 {

    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color:#F0F2BD;
    text-align: center;
    margin-bottom: 200px;
}

h2 {
  font-family: "Libertinus Math", system-ui;
  font-weight: 100;
  font-size: 40px;
  font-style: normal;
  color: #F0F2BD;
  text-align: center;
  margin-bottom: 20px;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    height: 100px;
    border-radius: 10px; 
   
}


.link {
    align-items: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
   
}

button {
    padding: 15px 15px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
     
}
button img {
    width: 80px;
    height: 80px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    color:#F0F2BD; 
    padding: 10px;
    border-radius: 10px;
}

.nombre-mascotas{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.opcion-mascota {
   height: 250px;
   width: 200px;
   background-color: linear-gradient(to bottom, #CA7842, #B2CD9C,);
   border-radius: 20px;
   border: 1px solid #F0F2BD;
   padding: 4px;
   margin-bottom: 60px;

}
.opcion-mascota img{
    width: 200px;
}
.marcos-redondos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white; 
    border-radius: 10px;
    padding: 10px;
}

.botones-ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
   
}
#seleccionar-ataque label{
    color: #CA7842;
    background-color: #CA7842;
    margin: 5px;
    
}
#seleccionar-ataque {
  color: #F0F2BD;
  font-family: "Libertinus Math", system-ui;
  font-weight: 100;
  font-size: 20px;
  font-style: normal;

}

#mensajes {
    display: flex;
    flex-direction: column;
    color: #F0F2BD;
    font-family: "Libertinus Math", system-ui;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

#reiniciar-juego {
    color:#F0F2BD;
}

.reiniciarContenedor {
    padding: 5px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}